<div>
    <a href="{{ link_personal }}" class="btn fe-btn-bordered mx-2 my-2 d-sm-block d-md-inline-block">Личные данные</a>
    <a href="{{ link_requisites }}" class="btn fe-btn-bordered mx-2 my-2 d-sm-block d-md-inline-block">Реквизиты</a>
    <a href="{{ link_delivery }}" class="btn fe-btn-bordered mx-2 my-2 d-sm-block d-md-inline-block">Адрес доставки</a>
</div>