<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    {% for notification in notifications %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <!-- <img src="..." class="rounded me-2" alt="..."> -->
            <strong class="me-auto">{{ notification.header }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ notification.body }}
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    $(document).ready(() => {
        $('.toast').each((i, v) => {
            let toast = new bootstrap.Toast(v)
            toast.show()
        })

    });
</script>
