<div class="container search-bar mb-3">
    <div class="input-group">
        <div class="col-sm-6" style="padding-left: 5px">
            <div class="input-group">
                <input id="homeSearchInput" value="{{ search_text }}" type="text" class="form-control" style="border-right: none; border-color:#0d6efd;" placeholder="ПОИСК ПО НОМЕРУ ЗАПЧАСТИ">
                <button id="homeSearchBtn" class="input-group-text" style="border-color:#0d6efd; background-color: white; color: #0d6efd">
                    <i class="fas fa-search" style="color: #3A659F;"></i>
                </button>
                <script>
                    $( document ).ready(function() {
                        $('#homeSearchBtn').on('click', function() {
                            $('#homeSearchBtn').html('<i class="fa fa-spinner fa-spin"></i>');

                            if ($('#homeSearchInput').val() !== '') {
                                $.ajax('index.php?route=fe/api/common/home_search&search=' + $('#homeSearchInput').val())
                                    .done((res) => {
                                        let redirect = res.data.redirect;
                                        $( location ).attr('href', redirect);
                                    })
                                    .fail(() => {
                                        console.log('fail.');
                                    });
                            }

                        });

                        $('#homeSearchInput').keydown(function(event) {
                            if (event.keyCode === 13) {
                                $('#homeSearchBtn').trigger('click');
                            }
                        });

                        $('#homeVinInput').keydown(function(event) {
                            if (event.keyCode === 13) {
                                $('#homeSearchVinBtn').trigger('click');
                            }
                        });

                        $("#homeSearchVinBtn").click(function(){
                            let isLogged = {{ logged ? 'true' : 'false' }};

                            if (!isLogged) {
                                $("#modalLogin").modal('show');
                            } else {
                                window.location='/katalog&search=!';
                            }

                        });
                    });
                </script>
            </div>
        </div>

        <div class="col-sm-6" style="padding-left: 5px">
            <div class="input-group">
                <input id="homeVinInput" type="text" class="form-control" style="border-right: none;border-color:#0d6efd;" placeholder="ПОИСК ПО VIN КОДУ">
                <button id="homeSearchVinBtn" class="input-group-text" style="border-color:#0d6efd; background-color: white; color: #0d6efd">
                    <i class="fas fa-search" style="color: #3A659F;"></i>
                </button>
            </div>
        </div>
    </div>
</div>