<div>
    <div>
        Заказ #{{ order_id }}
    </div>

    <div>
        {% for item in items %}

        {% endfor %}
    </div>

    <div>
        {{ total }}
    </div>

    <div>
        {{ payment_option }}
    </div>

    <div>
        Заказ оформлен на сайте https://feparts.kz и будет обработан в порядке очередности. По всем вопросам можете обращаться по номеру +7 727 390 91 91. Для уточнения деталей наши менеджеры могут связаться с вами по указанным вами контактным данным.
        Просим предварительно ознакомиться с Политикой конфиденциальности, условиями оплаты, доставки и возврата.
    </div>
</div>
