<div>
	<h4>ПУБЛИЧНАЯ ОФЕРТА ДЛЯ НЕОГРАНИЧЕННОГО КРУГА ЛИЦ</h4>
	<div>
		Настоящая Публичная оферта, адресована неограниченному кругу лиц, заинтересованных в приобретении продукции, представленной на официальном интернет-сайте www.feparts.kz, и является официальным и публичным предложением Товарищества с ограниченной ответственностью «Пятый Элемент SP» (БИН 061140008235; юридический адрес: 050009, г. Алматы, ул. Жамбыла 204; ИИК: KZ548560000000378097, АГФ АО «БанкЦентрКредит», БИК KCJBKZKX) заключить договор розничной купли-продажи, предмет и условия которого описаны в настоящем предложении.
		Пожалуйста, ознакомьтесь с условиями настоящего предложения, и если Вы не согласны с каким-либо пунктом, Вам предлагается отказаться от покупки Товаров.
	</div>
</div>

<div>
	<h5>
		1. Термины и определения
	</h5>
	<div>
		В настоящем документе, если контекст не требует иного, нижеприведенные термины имеют следующие значения:
		«Публичная оферта» — настоящее предложение Продавца, адресованное неограниченному кругу лиц, заключить с ним Договор на нижеуказанных условиях.
		«Договор» - договор розничной купли-продажи, заключаемый на условиях, содержащихся в Публичной оферте.
		«Продавец» - Товарищество с ограниченной ответственностью «Пятый Элемент SP», реализующее Товар, представленный на Интернет-сайте.
		«Покупатель» - лицо, заинтересованное в приобретении Товара Продавца и обратившееся с предложением купить Товар и тем самым заключить с Продавцом Договор.
		«Акцепт» - полное и безоговорочное принятие Покупателем условий, содержащихся в настоящем документе.
		«Товар» - перечень наименований ассортимента товаров, представленный на официальном Интернет-сайте Продавца.
		«Заказ» - отдельные позиции из перечня Товара, указанные Покупателем при оформлении заявки на Интернет-сайте Продавца.
		«Электронный адрес Покупателя» - адрес электронной почты Покупателя, указанный при оформлении Заказа.
		«Контактный телефон» - контактный номер(-а) Покупателя, указанный(-е) при оформлении Заказа.
		«Интернет-сайт» – совокупность электронных документов (файлов) Продавца, доступных в сети Интернет через протоколы HTTP / HTTPS, объединенных под доменными именами: www.feparts.kz и всеми доменными именами следующих уровней.
		«Запасные части автомобиля» - изделия и материалы, используемые в замене и/или ремонте транспортного средства.
		Настоящий документ может содержать термины, не перечисленные в данной статье. В этом случае они должны толковаться в соответствии с действующим законодательством, если это применимо, либо в соответствии с их общепринятым толкованием в ходе использования на Интернет-сайте, а за неимением такового — в сети Интернет.
	</div>
</div>

<div>
	<h5>2. Общие положения</h5>
	<div>
		2.1. В соответствии со статьей 395 Гражданского Кодекса Республики Казахстан (далее – «ГК РК») данный документ является Публичной офертой. В случае принятия изложенных ниже условий Покупатель, производящий Акцепт настоящей Публичной оферты, оформляет заявку на Интернет-сайте Продавца либо по телефону, указанному на Интернет-сайте, и осуществляет оплату Товара Продавца в соответствии с условиями, указанными в настоящей Публичной оферте. Оформление заказа Товара Покупателем является Акцептом Публичной оферты, что считается равносильным заключению Договора на условиях, изложенных в настоящей Публичной оферте (п. 3 ст. 396 ГК РК).
		2.2. Настоящая Публичная оферта действует только на территории Республики Казахстан (далее — РК) в отношении Товара, представленного на Интернет-сайте и имеющегося в наличии.
		2.3. Совершая действия по Акцепту настоящей Публичной оферты, Покупатель подтверждает свою правоспособность и дееспособность.
	</div>
</div>

<div>
	<h5>
		3. Предмет
	</h5>
	<div>
		3.1. Продавец продает Товар в соответствии с ценами, опубликованными на Интернет-сайте Продавца, а Покупатель производит оплату и принимает Товар в соответствии с условиями, определенными Публичной офертой.
	</div>
</div>

<div>
	<h5>
		4. Оформление Заказа
	</h5>
	<div>
		4.1. Заказ Товара осуществляется Покупателем через Интернет-сайт Продавца или посредством телефонной связи с диспетчерской службой Продавца, указанным на Интернет-сайте. Порядок оформления Заказа Товара, срок исполнения Заказа и контактные данные Продавца указаны на интернет-сайте.
		4.2. При оформлении Заказа на Интернет-сайте Продавца, Покупатель обязуется предоставить следующую достоверную информацию о себе:
		• фамилия, имя, отчество
		• фактический адрес доставки;
		• адрес электронной почты;
		• контактные телефоны (далее – «Персональные данные»).
		Покупатель имеет право редактировать Персональные данные. Продавец обязуется не сообщать Персональные данные Покупателя, имеющиеся на Интернет-сайте, а также иную информацию, касающуюся Покупателя, лицам, не имеющим отношения к исполнению Заказа.
		4.3. Покупатель несет ответственность за содержание и достоверность информации, предоставленной при размещении Заказа.
		4.4. При оформлении Заказа на Интернет-сайте, Покупатель соглашается с тем, что приобретает Товар на основе того, что владеет информацией в отношении вида, марки, способов использования и применения Товара, подлежащего Заказу. Продавец не несёт ответственности за ненадлежащее использование Товаров Покупателем.
		4.5. День оформления Заказа является датой принятия Покупателем настоящей Публичной оферты.
		4.6. Заказ имеет право получать как лицо, на которое оформлен Заказ, так и его представитель при условии, если Покупатель подтвердит свое согласие при оформлении Заказа. В случае согласия Покупателя на получение Заказа его представителем, Покупатель должен указать данные своего представителя в разделе «Способ доставки» при оформлении Заказа на интернет-сайте онлайн или по телефону диспетчерской службы Продавца. В ином случае, Продавец не несет ответственность за ненадлежащее исполнение обязательства. В момент приёма Заказа Покупатель либо его представитель обязан подтвердить свою личность посредством предъявления сотруднику курьерской службы доставки либо сотруднику Продавца удостоверения личности или иного документа, подтверждающего личность.
		4.7. Для детального просмотра, а также сохранения истории Заказов Покупатель может осуществить регистрацию на Интернет-сайте, где ему будет присвоено имя пользователя и пароль.
	</div>
</div>

<div>
	<h5>
		5. Сроки исполнения Заказа
	</h5>
	<div>
		5.1. Срок исполнения Заказа оговаривается с Покупателем индивидуально в зависимости от характеристик и количества заказанного Товара, а также от места, куда должен быть доставлен Товар.
		5.2. В случае, если Продавец не может исполнить Заказ в срок по независящим от Продавца обстоятельствам, то Продавец должен уведомить об этом Покупателя в течение 1 (одного) рабочего дня с момента возникновения таких обстоятельств путем направления сообщения на Электронный адрес Покупателя, либо связаться с Покупателем по Контактному телефону.
		5.3. В случае, когда причиной нарушения срока исполнения Заказа послужили действия либо бездействия третьих лиц, Продавец не несет ответственности за такие нарушения, если докажет невиновность третьих лиц либо если это обусловлено обстоятельствами непреодолимой силы.
		5.4. В случае отсутствия части Заказа на складе Продавца, в том числе по причинам, не зависящим от последнего, Продавец вправе аннулировать указанный Товар из Заказа Покупателя. Продавец обязуется связаться с Покупателем по Контактному телефону, либо уведомить Покупателя об изменении комплектности его Заказа путем направления сообщения на Электронный адрес Покупателя в течение 1 (одного) рабочего дня.
		5.5. Заказ считается исполненным в момент передачи Товара Покупателю. Подписываясь в акте приема-передачи Товара или накладной, предоставляемой сотрудником курьерской службы доставки Продавца, Покупатель подтверждает исполнение Заказа.
		5.6. Стоимость, сроки и условия доставки Заказа Покупатель уточняет на Интернет-сайте Продавца и согласовывает с Продавцом в письменной либо устной форме.
		5.7. В случае если доставка Товара произведена в установленные на Интернет-сайте либо согласованные с Покупателем сроки, но Товар не был передан Покупателю по его вине, последующая доставка производится в новые сроки, согласованные с Продавцом. В данном случае Покупатель обязан оплатить стоимость услуг первой и повторной доставки Товара.
		5.9. В случае предоставления Покупателем недостоверной информации о его контактных данных или составе Заказа Продавец за ненадлежащее исполнение Заказа ответственности не несет.
	</div>
</div>

<div>
	<h5>
		6. Цены, стоимость и оплата Заказа
	</h5>
	<div>
		6.1. Оплата исполненного Заказа по выбору Покупателя может осуществляться следующими способами:
		6.1.1. путем передачи Покупателем наличных денежных средств в валюте – казахстанский тенге, сотруднику курьерской службы доставки Продавца при доставке по г. Алматы, либо, в случае если Покупатель самостоятельно забирает Заказ в офисе Продавца, сотруднику Продавца. Подтверждением оплаты исполненного Заказа является кассовый или товарный чек;
		6.1.2. путем перечисления денежных средств на расчетный счет Продавца после оформления Покупателем Заказа и получения подтверждения по Контактному телефону Покупателя и/или письменного подтверждения от Продавца, направленного на Электронный адрес Покупателя, о наличии выбранного Товара;
		6.1.3. путем перечисления Покупателем денежных средств в режиме on-line через систему электронных платежей следующими платежными средствами:
		- кредитные карты (VISA, MasterCard, American Express, а также дебетные электронные карты), эмитированные любым банком;
		6.3. Цена на каждую позицию Товара отображается на Интернет-сайте Продавца, является окончательной и не требует дополнительной платы при стандартных условиях доставки. В случае изменения цены на заказанные позиции Товара Продавец обязуется в кратчайшие сроки проинформировать Покупателя о таком изменении. Покупатель вправе подтвердить либо аннулировать Заказ.
		6.4. В случае отсутствия связи с Покупателем, а также неоплаты Заказа в течение 3 (трех) календарных дней с момента его размещения, Заказ считается аннулированным.
		6.5. Цены на любые позиции Товара, указанные на Интернет-сайте, могут быть изменены Продавцом в одностороннем порядке без уведомления Покупателя.
	</div>
</div>

<div>
	<h5>
		7. Возврат Заказа
	</h5>
	<div>
		7.1. Обмен и возврат товара осуществляется в течении 14 календарных дней, с момента покупки, если товар не был в употреблении, сохранены товарный вид, потребительские свойства, упаковка, полная комплектация, пломбы, ярлыки, а также документ, подтверждающий факт приобретения товара (статья 30 пункт 1 закона РК «О защите прав потребителя»).
		7.2. При обмене товара на более дорогостоящую, Покупатель обязуется доплатить разницу.
	</div>
</div>

<div>
	<h5>
		8. Прочие условия
	</h5>
	<div>
		8.1. Настоящим Продавец заверяет, что он имеет все необходимые лицензии, разрешения, регистрационные свидетельства, сертификаты соответствия, а также иные документы, связанные с реализацией и рекламой Товара, а также гарантирует подлинность и качество всех представленных Товаров, и обязуется передать Покупателю Товар надлежащего качества, который соответствует образцу и/или описанию, представленному на Интернет-сайте.
		8.2. Настоящая Публичная оферта не является безотзывной, т. е. может быть отозвана Продавцом до момента её Акцепта Покупателем. Продавец имеет право отказать в размещении Заказа лицам, выражающим несогласие с условиями, указанными в ней.
		8.3. Товары, предлагаемые Продавцом Покупателю, представлены на Интернет-сайте в форме информационных материалов. При этом Покупатель понимает и соглашается с тем, что информационные материалы носят справочный характер и могут не представлять полную и достоверную информацию об определенных характеристиках Товара. В связи с этим, в случае возникновения у Покупателя вопросов, касающихся Товара, перед размещением Заказа Покупателю следует обратиться за консультацией по телефону
		+7 727 390 91 91 или направить запрос на адрес электронной почты Продавца - info@feparts.kz.
	</div>
</div>

<div>
	<h5>
		Юридическое лицо
	</h5>
	<div>
		ТОО «Пятый Элемент SP»
		РНН 600 400 571 166
		БИН 0611 4000 8235
		IBAN KZ 548 560 000 000 378 097
		АГФ АО «Банк ЦентрКредит»
		BIC KCJBKZKX
		Свидетельство о постановке на регистрационный учет по налогу на добавленную стоимость Серия 60001 № 0089986  от 16.08.2012г.
		Юридический адрес: 050009 г. Алматы, Жамбыла 204
		Директор Вейс С.А.
	</div>
</div>
