{{ header }}
<main style="min-height: 75vh;">

    <div class="container w-50 mx-auto">

        <style media="screen">
            form.fe-account-form {
                background-color: #f8f8f8;
            }
        </style>

        <form class="p-3 fe-account-form" action="{{ action_password }}" method="post">
            <div class="mb-3">
                <label class="form-text" for="password">Пароль</label>
                <input name="password" type="password" class="form-control" placeholder="Пароль" />
            </div>
            <div class="mb-3">
                <label class="form-text" for="confirm">Подтвердить Пароль</label>
                <input name="confirm" type="password" class="form-control" placeholder="Подтвердить Пароль" />
            </div>
            <button type="submit" class="btn btn-primary w-100">Поменять Пароль</button>
        </form>

    </div>

</main>



{{ footer }}
