<div class="modal fade" id="modalLogin" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-body">

                <div class="container-lg">
                    <div class="text-end p-1">
                        <button class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="text-center">
                        <span class="btn rounded-0 fw-bolder" style="background: #0575C0; color: white; cursor: default;">
                            Вход
                        </span>

                        <button class="btn rounded-0 fw-bolder" data-bs-toggle="modal" data-bs-target="#modalRegister" style="color: #0575C0;">
                            Регистрация
                        </button>
                    </div>

                    <div>
                        <form id="modalLoginForm" action="{{ login_action }}" method="post">
                            <div class="py-3 px-5">
                                <label for="login" class="form-text">Email<span class="text-danger">*</span></label>
                                <input id="login" class="form-control rounded-0" type="email" name="email" placeholder="Email" required>
                            </div>

                            <div class="py-3 px-5">
                                <label for="password" class="form-text">Пароль<span class="text-danger">*</span></label>
                                <input id="password" class="form-control rounded-0" type="password" name="password" placeholder="Введите пароль" minlength="4" required>
                            </div>

                            <div class="py-3 px-5">
                                <button type="submit" class="btn fe-btn w-100" name="button" id="btnPostLogin">ВОЙТИ</button>
                            </div>

                            <script type="text/javascript">
                                $('#modalLoginForm').submit(e => {
                                    $('#btnPostLogin').html(`
                                        <span class="spinner-border spinner-border-sm text-light" role="status"></span>
                                    `);
                                });
                            </script>
                        </form>
                    </div>

                    <div class="text-center">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalPasswordRecovery">
                            Забыли пароль?
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
