{{ header }}
{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div style="width: 50%; margin: 0 auto;">
        </div>
    </div>
</div>

{{ footer }}
