{{ header }}

<main class="" style="height: 75vh;">
    <h1 class="p-3 text-center">Страница не найдена.</h1>
    <div class="text-center">
        <a class="btn btn-link" href="/">На главную страницу</a>
    </div>
</main>

{{ footer }}
